<form>
    <p>Tanggal Hari Ini: {{ today | date: 'YYYY/MM/dd'}}</p>
    <h2>Silahkan Tambahkan Todo</h2> <br />

    <div class = "input-group mb-3">
        <input 
        type="text"
        name="inputTodo"
        placeholder="Enter todo..."
        class="form-control"
        [(ngModel)]= "inputTodo"
        />
        
        <input
        type="submit"
        value = "add Todo"
        class=" btn btn-primary"
        (click)="addTodo()"
        />
    
    </div>

    <p> {{message}} </p>
    
</form>